@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
html,body,header{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family:'Times New Roman', Times, serif;
}

body{
  width:1280px;
  height:100%;
  overflow-x:hidden;
  width:auto;
  display:flex;
  flex-direction:column;
}

.navbar{
  z-index:3;
  background-color:#392b13;
  padding:10px;
  margin-top:-8px;
  width:100%;
}

#bg {
  position:fixed; 
  top: 0; 
  left: 0; 
  z-index:-1;
  min-width: 100%;
  min-height: 100%;
}

.dropdown-menu{
    animation: 0.5s slidedown
}

.dropdown-menu a:hover{
  color:#392b13 !important;
  background-color:transparent;
}

.coffeetext {
  position: relative;
  position: absolute;
  left:37%;
}

.coffeetext h2 {
  color: #fff;
  font-size: 6vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.coffeetext h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #F4EBD0;
}

.coffeetext h2:nth-child(2) {
  color:#392b13;
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes slidedown {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(0);
    }
}

.menutopheader{
  font-size:45px;
  color:#5c3c03;
}

.nav-link, .navbar-brand, .menuheader{
  color:#5c3c03;
  font-weight:bold;
}