@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
html,body,header{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family:'Times New Roman', Times, serif;
}

body{
  width:auto;
  display:flex;
  flex-direction:column;
  position:relative;
}

.navbar{
  z-index:3;
  background-color:#392b13;
  padding:10px;
  margin-top:-8px;
  width:100%;
}

#bg{
  position:fixed; 
  top: 0; 
  left: 0; 
  z-index:-1;
  min-width: 100%;
  min-height: 100%;
}

/* HomePage */

/* TopPage */

.dropdown-menu{
    animation: 0.5s slidedown
}

.dropdown-menu a:hover{
  color:#392b13 !important;
  background-color:transparent;
}

.coffeetext{
  position: relative;
  position: absolute;
  left:37%;
}

.coffeetext h2{
  color: #fff;
  font-size: 6vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.coffeetext h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #F4EBD0;
}

.coffeetext h2:nth-child(2){
  color:#392b13;
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes slidedown{
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(0);
    }
}

.carousel{
  border-bottom-color:#835404;
  border-bottom-width:4px;
  border-bottom-style:solid;
  z-index:2;
}

.carousel-item:after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0, 0, 0, 0.229);
}

/* MidPage */

.introrow{
  font-family:"DM Sans";
  margin-top:30px;
  margin-bottom:20px;
  width:100%;
  display:flex;
  flex-direction:row;
}

.introabouttext{
  font-size:25px;
}

.introaboutheader, .reviewheader, .recommendheader, .ratingheader, .menuheader{
  font-size:40px;
  color:#5c3c03;
  font-family:'Times New Roman', Times, serif
}

.review-section{
  margin-top:60px;
}

.radiorow{
  display:flex;
  flex-direction:column;
  width:100%;
}

.introtext{
  width:50%;
  margin-bottom:70px;
  color:#5c3c03;
  height:auto;
}

.radio-btns{
  display: flex;
  width:38%;
  margin-top:95px;
  margin-left:6%;
  box-shadow: 0px 0px 100px 5px #835404;
  margin-bottom:auto;
  grid-template-columns: repeat(3, 100px);
}

.radio-btns:hover .radio-btns__btn:not(:hover){
  filter: grayscale(80%);
  opacity: 0.75;
}

.radio-btns:hover .radio-btns__btn:not(:hover)::after{
  background-color: rgba(#000, 0.5);
}

.radio-btns__btn{
  position: relative;
  cursor: pointer;
  transition: .3s;
}

.radio-btns__btn:after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#392b1323;
}

.radio-btns__btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0);
  transition: .3s;
}

.radio-btns__btn img{
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.reviewtitle{
  margin-top:60px;
}

.previewslider{
  margin:auto;
  position:relative;
  display:grid;
  place-items:center;
  background-color:#977437;
}

.previewslider-track{
  display:flex;
  width:calc(156px*18);
  animation: scroll 75s linear infinite;
}

.previewslider-track2{
  display:flex;
  width:calc(156px*18);
  animation: scroll 75s linear infinite reverse;
}

.previewslide{
  display:flex;
  flex-direction:column;
  background-color:#d5ba87;
  box-shadow:rgb(165, 110, 42) 2px 2px 20px 2px;
  border-radius:10px;
  border-bottom-left-radius:45px;
  align-items:center;
  padding:28px;
  margin-left:30px;
  margin-right:30px;
  height:200px;
}

.previewslide .fs-5{ 
  color:#392b13;
  font-weight:100px;
}

.previewslide img{
  width:100%;
}

@keyframes scroll{
  0%{
    transform:translateX(0);
  }

  100%{
    transform: translateX(calc(-216px*9));
  }
}

.coffeebtn{
  margin-bottom:35px;
}

.reviewexample{
  width:100%;
  padding:15px;
  font-size:20px;
  background-color:rgb(255, 239, 219);
  flex-wrap:nowrap;
  box-shadow:rgb(165, 110, 42) 5px 5px 20px 5px;
  color:rgb(165, 110, 42);
  border-radius:10px;
  border-bottom-right-radius:45px;
}

.reviewhr{
  margin-bottom:50px;
}

.reviewname{
  font-size:19px;
}

.reviewinfo{
  font-size:18px;
  font-family:"DM Sans";
}

.checked{
  color:rgb(240, 168, 35);
}

.ratingcontainer, .ratingcontainersubmit{
  box-shadow:rgb(165, 110, 42) 5px 5px 20px 5px;
  font-family:"DM Sans";
}

.ratingform{
  font-size:20px;
  color:#5c3c03 !important;
}

.ratingform::placeholder{
  color:#5c3c03; ;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
  border-color:#977437;
  background-color:#d5ba87;
  color:#392b13;
  text-align:center;
}

/* BottomPage */

.footerheader{
  padding:10px;
  font-size:25px;
  margin-left:-10px;
}

.footertext{
  font-size:18px;
  text-align:left;
  list-style:none;
  margin-top:5px;
  font-family:"DM Sans";
}

.copyrighttext{
  font-size:25px;
  font-family:"DM Sans";
}

/* MenuPage */

.menutopheader{
  font-size:35px;
  color:#5c3c03;
}

.menunavbarbrand img{
  width:30%;
}

.menunavbar{
  width:80%;
  background-color:rgb(255, 239, 219);
  box-shadow:rgb(165, 110, 42) 5px 5px 20px 5px;
}

.menucontent{
  height:450px;
  overflow-y:auto;
  position:relative;
  width:80%;
  background-color:rgb(255, 239, 219);
  box-shadow:rgb(165, 110, 42) 5px 5px 20px 5px;
}

.nav-link, .navbar-brand, .menuheader{
  color:#5c3c03;
  font-weight:bold;
}

.menuitemtitle, .carttitle{
  font-size:28px;
  font-weight:bold;
}

.menuitem{
  padding:15px;
  background-color:rgba(102, 68, 16, 0.164);
  flex-wrap:nowrap;
  color:#835404;
  border-radius:10px;
  border:#392b1362 solid 1px;
  text-align:center;
}

.menuitemlist a{
  font-size:20px;
}

.menuitemlist .nav-link{
  color:#835404;
}

.menuitemlist .nav-link:hover{
  text-decoration:underline;
  color:#835404;
  text-align:center;
}

.menuitemlist .nav-link.active {
  background-color: transparent !important;
  color:#835404;
}

.menuitem img{
  width:50%;
  margin-bottom:20px;
}

.buyBtn{
  background-color:#F4EBD0;
}

.cartcontainer{
  height:200px;
  width:80%;
  background-color:rgb(255, 239, 219);
  box-shadow:rgb(165, 110, 42) 5px 5px 20px 5px;
}

.cartBtn{
  
  background-color:#F4EBD0;
}

/* MediaQuery */

@media all and (max-width: 1404px){
  .introrow{
    display:flex;
    flex-direction:column;
    width:100%;
  }

  .introtext{
    width:100%;
  }

  .introhr{
    display:none;
  }
  
  .radiorow{
    display:flex;
    flex-direction:row;
    width:100%;
    border-top:solid #835404 5px;
    border-bottom:solid #835404 5px;
  }

  .radio-btns{
    width:100%;
    margin-left:0;
    margin-bottom:50px;
    margin-top:-50px;
  }

  .reviewheader, .ratingheader, .introaboutheader, .recommendheader, .menuheader{
    font-size:45px;
  }

  .reviewexample{
    height:100%;
    display:flex;
    flex-direction:column;
  }

  .menucontent{
    height:390px;
  }
}

@media all and (max-width: 900px){
  .footerheader, .copyrighttext{
    font-size:16px;
    margin-top:10px;
  }

  .footertext{
    font-size:12px;
  }

  #socials, .socialicons{
    text-align:left;
  }

  .reviewheader, .ratingheader, .introaboutheader, .recommendheader, .menuheader{
    font-size:35px;
  }

  .submitBtn{
    font-size:12px;
  }

  .form-control{
    font-size:16px;
  }

  .previewslider-track{
    animation: scroll 50s linear infinite;
  }
  
  .previewslider{
    margin-top:50px;
  }

  .coffeebtn{
    margin-bottom:-10px;
  }

  .review-section{
    margin-top:30px; 
  }

  .menutopheader{
    font-size:28px;
  }

  .menuitemlist a{
    font-size:19px;
  }
}

@media all and (max-width:1080px){
  .menunavbarbrand img{
    display:none;
  }

  .menuitemlist{
      margin-left:auto;
      margin-right:auto;
  }
}